@import "tailwindcss";

/* start custom fonts style  */
@font-face {
  font-family: dana-regular;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/woff2/Dana-Regular.woff2") format("woff2"), /* FF39+,Chrome36+, Opera24+*/ url("../fonts/woff/Dana-Regular.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: dana-bold;
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/woff2/Dana-DemiBold.woff2") format("woff2"), /* FF39+,Chrome36+, Opera24+*/ url("../fonts/woff/Dana-DemiBold.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: dana-num;
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/woff2/DanaFaNum-Medium.woff2") format("woff2"), /* FF39+,Chrome36+, Opera24+*/ url("../fonts/woff/DanaFaNum-Medium.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@theme {
  --font-dana-regular: "dana-regular";
  --font-dana-bold: "dana-bold";
  --font-dana-num: "dana-num";
}
/* finish custom fonts style  */

@theme {
  --breakpoint-xs: 501px;
}
@custom-variant dark (&:where(.dark, .dark *));

* {
  @apply placeholder:text-gray-500;
}
:root {
  --box-color: #eaeaea;
  --bg-color: #f9fafc;
  --text-color: #4b4b4b;
  --active-color: #0caf60;
}
.dark {
  --bg-color: #0a0a0a;
  --box-color: #262828;
  --text-color: #ced4da;
}
html::selection {
  background-color: var(--active-color);
  color: white;
  opacity: 100;
}
::-webkit-scrollbar {
  background-color: #ffffff00;
  width: 9px;
  border-radius: 15px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(175, 175, 175);
  border-radius: 12px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(199, 199, 199);
}
i {
  pointer-events: none;
}
label {
  user-select: none;
}
.centered {
  @apply flex justify-center items-center;
}

/* start sidebar style  */

.sidebar-toggle {
  @apply translate-x-0 md:!max-w-50 lg:!max-w-60;
}
.sidebar-toggle + main {
  @apply md:!ms-50  lg:!ms-60;
}

aside ul li {
  @apply pe-3 ps-2 overflow-hidden max-h-[44px] transition-all duration-500;
}
aside ul li.open {
  max-height: 250px !important;
}
aside ul li.open span:last-child {
  transform: rotate(-90deg) !important;
}
.sidebar-toggle ul li .aside-item {
  @apply !max-w-full !gap-3.5;
}
.sidebar-toggle ul li .aside-item-content > li > a {
  @apply !ms-0;
}
aside ul li .aside-item {
  @apply flex gap-x-6 items-center !text-nowrap md:!max-w-[39px] py-2 px-2 rounded-lg transition-all hover:bg-gray-300/80 dark:hover:bg-gray-500/40 hover:text-black dark:hover:text-white;
}
.aside-item-content {
  @apply grow w-full h-auto top-1/1 text-xs;
}

.aside-item-content > li > a {
  @apply py-3 ps-8  text-nowrap block rounded-lg transition-all hover:bg-gray-300/80 dark:hover:bg-gray-500/40 hover:text-black dark:hover:text-white relative before:absolute before:w-2 before:h-[1px] before:bg-gray-500/80 before:top-1/2 before:right-3 before:-translate-y-1/2 hover:before:bg-black dark:hover:before:bg-white before:transition-colors;
}
.sidebar-btn {
  @apply cursor-pointer;
}
/* finish sidebar style  */

.nav-btn {
  @apply p-1 md:p-2 cursor-pointer text-base lg:text-lg;
}
.nav-item-content {
  @apply opacity-0 invisible transition-[translate,opacity,visibility] duration-400 bg-[var(--box-color)] fixed top-13 xs:top-15 sm:top-16 md:top-20 cursor-auto border border-gray-500/50 rounded-lg overflow-hidden h-auto;
}
.show {
  @apply opacity-100 translate-x-0 visible;
}
.active-page {
  @apply bg-[var(--active-color)] text-white;
}
.active-tab {
  @apply border-b-2 border-[var(--active-color)] text-[var(--active-color)];
}
.tab-btn {
  @apply py-1.5 px-3 xs:px-4 text-nowrap rounded-sm cursor-pointer relative overflow-hidden  before:content-[''] before:absolute before:left-0 before:top-0 before:h-full before:w-0 hover:before:w-full hover:before:right-0 before:transition-all before:duration-500 before:bg-white/20;
}

/* start profile page style  */
.tab-panel {
  opacity: 0;
  visibility: hidden;
  transition: all 0.8s ease;
  width: 100%;
}
.active-panel {
  position: absolute;
  top: 0;
  opacity: 1;
  visibility: visible;
}
/* finish profile page style  */
/* start sweet alert 2 custom styles  */
.swal2-popup {
  background-color: var(--box-color) !important;
  color: var(--text-color) !important;
}
.swal2-validation-message {
  background-color: var(--bg-color) !important;
  color: var(--text-color) !important;
  background-image: url();
}
.my-toast {
  background-color: var(--box-color) !important;
  color: var(--text-color) !important;
  box-shadow: 0 0 3px gray !important;
  font-size: 14px !important;
}
.my-toast .swal2-success-circular-line-left,
.my-toast .swal2-success-circular-line-right,
.my-toast .swal2-success-fix {
  background-color: transparent !important;
}
.my-toast .swal2-timer-progress-bar {
  background-color: rgba(205, 205, 205, 0.772) !important;
  border-radius: 10px !important;
}
/* finish sweet alert 2 custom styles  */
/* start CKE editor custom style  */
.ck-editor__editable {
  background-color: var(--bg-color) !important;
  color: var(--text-color) !important;
  border-color: #6a7282 !important;
  direction: rtl;
  text-align: right;
  min-height: 200px;
  max-height: 250px;
}

.ck-editor__editable:focus {
  border: 1px solid var(--active-color) !important;
}
.ck.ck-toolbar {
  background-color: var(--bg-color) !important;
  border-color: #6a7282 !important;
}
.ck.ck-toolbar * {
  background-color: var(--bg-color) !important;
  color: var(--text-color) !important;
}
.ck-on {
  border: 1px solid var(--active-color) !important;
}
.ck.ck-button:hover,
.ck.ck-button:focus {
  background: none !important;
  box-shadow: none !important;
}
.ck-balloon-panel {
  display: none !important;
}
/* finish CKE editor custom style  */
/* start drop zone style  */
.dropzone {
  background-color: var(--bg-color) !important;
  border: 2px dashed #9ca1ab !important;
  color: var(--text-color) !important;
}
.dropzone:hover {
  border: 2px dashed var(--active-color) !important;
}
.dropzone .dz-image-preview {
  background-color: var(--bg-color) !important;
  color: var(--text-color) !important;
}
.dz-image-preview .dz-image {
  @apply !size-20 sm:!size-25 xl:!size-28 !aspect-1/1 !rounded-md !m-2.5;
  overflow: hidden;
}
.dz-image-preview {
  @apply !m-2;
}
.dz-details {
  @apply !p-0;
}
.dz-error-message {
  @apply !top-12;
}
.dropzone .dz-preview:hover .dz-image img {
  filter: blur(0px) !important;
}
.dz-progress {
  display: none !important;
}
/* finish drop zone style  */
